
*{
    margin: 0;
    padding: 0;
 
}
html{
    height: 100%;
    display: flex;
    flex-direction: column;
}
body{
    background-color: #1C0D4C;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: white;
   font-style: italic;
    font-size: 40px;
    animation: text ease-out infinite 10s;
    
}
@keyframes text{
    0%{
        color: aliceblue;
    }
    10%{
        color: blueviolet;
    }
    20%{
        color: brown;
    }
    30%{
        color: aqua;
    }
    40%{
        color: orange;
    }
    50%{
        color: crimson;
    }
    60%{
        color: darkorchid;
    }
    70%{
       color: darkslateblue; 
    }
    80%{
        color: rgb(113, 113, 16);
    }
    90%{
        color: green;
    }
    100%{
        color: indigo;
    }
}
.container {
    height: 125px;
    width: 100%;
    background-color:black;
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: 34px;
}
li{
    display: inline;
    margin: 15px;
}
.pos{
    text-decoration: none;
    position: relative;
    bottom: 75px;
    left: 160px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    
}
.img1{
    width: 50%;
    border-radius: 50%;
}
.btn{
    background-color:black;
    color: white;
    height: 35px;
  width: 150px;
    border: 2px solid orange;
    border-radius:10px;
    cursor: pointer;
}

footer{
    background-color:black;
    width: 100%;
    height: 90px;
    margin-top: auto;

}
.para{
    text-align: center;
    color: white;
   position: relative;
   top: 10px;
    font-size: 20px;
}

.fa-brands{
    color: green;
    font-size: 30px;
    position: relative;
    top: 25px;
 }

.fa-linkedin{
    color:blue;
    background-color: white;
    font-size: 30px;
    position: relative;
    top: 25px;
    left: 6px;
  
}
.fa-github{
    color: white;
    position: relative;
    top: 25px;
    left: 10px;
 
}
.pos:hover{
    background-color: blue;
}
/* marquee{
    font-size: 40px;
    color:white;
    font-style: italic;
    font-weight: bolder;
} */

@media (max-width:769px){
    html{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    body{
         background-color: #1C0D4C;
      
} 
    h1{
        position: relative;
        top: 30px;
    }
    .container{
        width: 166%;
        height: 230px;
      
    }
    .container2{
        position: relative;
        left: 130px;
    }
    .pos{
        position: relative;
        left: 24px;
        top: -25px;
        margin: 8px;
        padding: 5px;
    }
    .img1{
        width: 400px;
        height: 430px;
        position: relative;
        top: 20px;
    }
    .btn{
        position: relative;
        top: 25px;
    }
    footer{
   
        width: 166%;
        margin-bottom: auto;
      position: relative;
      top:70%;
    }
}
